:root {
    --dark-mode-border-color: rgb(255, 255, 255, 0.15);
    --dark-mode-cards-bg-color: rgba(255, 255, 255, 0.05);
}

.dark {
    /* background: #22242B; */
    /* background: #24292E; */
    background: #081B29;
    color: white;
    transition: all 500ms;

    #contact {
        border: 1px solid var(--dark-mode-border-color);
    }

    .bi {
        color: white;
    }

    a {
        color: white;
    }

    .portfolio-item {
        border: 1px solid var(--dark-mode-border-color);
    }

    .service-item {
        background: var(--dark-mode-cards-bg-color);
        border: 1px solid var(--dark-mode-border-color);
        color: white;
    }

    .service-item p {
        color: rgb(211, 211, 211);
    }

    .mobile-menu {
        background: #38414a;
    }

    .mobile-menu a {
        color: white;
    }

    .hello {
        color: rgb(72, 255, 0);
    }

    .bi-heart{
        color: red;
    }

    .contact-box input,
    textarea {
        background: none;
        border: 1px solid var(--dark-mode-border-color);
        color: white;
    }

    .buy-btn {
        padding: .5rem 1rem;
        background: var(--dark-mode-cards-bg-color);
        border: 1px solid var(--dark-mode-border-color);
        border-radius: var(--small-border-radius);
        color: white;
        font-weight: 500;
        cursor: pointer;
    }

    .buy-btn:hover {
        border: 1px solid #1eff00;
    }

    button:active {
        opacity: .6;
    }
}