:root {
    --dark-mode-border-color: rgba(255, 255, 255, 0.15);
    --dark-mode-cards-bg-color: rgba(255, 255, 255, 0.05);
}

.dark {
    background: #010B17;
    /* background: #081B29; */
    color: white;
    transition: all 300ms;
}

body::-webkit-scrollbar {
    width: 0.9rem;
}

body::-webkit-scrollbar-track {
    background: #010B17;
}

body::-webkit-scrollbar-thumb {
    background: #ABABAB;
}

.dark #contact {
    border: 1px solid var(--dark-mode-border-color);
}

.dark .bi,
.dark a {
    color: white;
}

.dark .portfolio-item,
.dark .service-item {
    border: 1px solid var(--dark-mode-border-color);
}

.dark .service-item {
    background: var(--dark-mode-cards-bg-color);
}

.dark .service-item p {
    color: rgb(211, 211, 211);
}

.dark .mobile-menu {
    background: #38414a;
}

.dark .mobile-menu a {
    color: white;
}

.dark .contact-box input,
.dark textarea,
.dark .buy-btn {
    background: none;
    border: 1px solid var(--dark-mode-border-color);
    color: white;
}

.dark .buy-btn {
    background: var(--dark-mode-cards-bg-color);
}

.dark .buy-btn:hover {
    border: 1px solid #00aeff;
}

.dark button:active {
    opacity: 0.6;
}
